/* line 7, ../scss/screen.scss */
* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: calibri, arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 16, ../scss/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #eee;
}

/* line 23, ../scss/screen.scss */
body {
  padding: 0 0 200px;
  background-color: #e6e6e6;
}

/*-----LAYOUT-----*/
/* line 31, ../scss/screen.scss */
.controls-wrapper {
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 39, ../scss/screen.scss */
.object-wrapper {
  width: 100%;
  height: 100%;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

/*-----OBJECT-----*/
/* line 50, ../scss/screen.scss */
.iphone {
  width: 250px;
  height: 530px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -265px -125px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  animation: rotate3d 10s linear infinite 0s;
  -webkit-animation: rotate3d 10s linear infinite 0s;
  -moz-animation: rotate3d 10s linear infinite 0s;
  -ms-animation: rotate3d 10s linear infinite 0s;
  -o-animation: rotate3d 10s linear infinite 0s;
}

/*-----ALL-LAYERS-----*/
/* line 64, ../scss/screen.scss */
.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  border-radius: 32px;
  background: linear-gradient(#030708 0%, #6f7b87 2%, #313842 10%, #535d69 20%, #38414a 50%, #262a33 90%, #6f7b87 98%, #030708 100%);
}

/* line 78, ../scss/screen.scss */
.layer-1 {
  -webkit-transform: translateZ(-14px);
  -moz-transform: translateZ(-14px);
  -ms-transform: translateZ(-14px);
  -o-transform: translateZ(-14px);
  transform: translateZ(-14px);
}

/* line 78, ../scss/screen.scss */
.layer-2 {
  -webkit-transform: translateZ(-13px);
  -moz-transform: translateZ(-13px);
  -ms-transform: translateZ(-13px);
  -o-transform: translateZ(-13px);
  transform: translateZ(-13px);
}

/* line 78, ../scss/screen.scss */
.layer-3 {
  -webkit-transform: translateZ(-12px);
  -moz-transform: translateZ(-12px);
  -ms-transform: translateZ(-12px);
  -o-transform: translateZ(-12px);
  transform: translateZ(-12px);
}

/* line 78, ../scss/screen.scss */
.layer-4 {
  -webkit-transform: translateZ(-11px);
  -moz-transform: translateZ(-11px);
  -ms-transform: translateZ(-11px);
  -o-transform: translateZ(-11px);
  transform: translateZ(-11px);
}

/* line 78, ../scss/screen.scss */
.layer-5 {
  -webkit-transform: translateZ(-10px);
  -moz-transform: translateZ(-10px);
  -ms-transform: translateZ(-10px);
  -o-transform: translateZ(-10px);
  transform: translateZ(-10px);
}

/* line 78, ../scss/screen.scss */
.layer-6 {
  -webkit-transform: translateZ(-9px);
  -moz-transform: translateZ(-9px);
  -ms-transform: translateZ(-9px);
  -o-transform: translateZ(-9px);
  transform: translateZ(-9px);
}

/* line 78, ../scss/screen.scss */
.layer-7 {
  -webkit-transform: translateZ(-8px);
  -moz-transform: translateZ(-8px);
  -ms-transform: translateZ(-8px);
  -o-transform: translateZ(-8px);
  transform: translateZ(-8px);
}

/* line 78, ../scss/screen.scss */
.layer-8 {
  -webkit-transform: translateZ(-7px);
  -moz-transform: translateZ(-7px);
  -ms-transform: translateZ(-7px);
  -o-transform: translateZ(-7px);
  transform: translateZ(-7px);
}

/* line 78, ../scss/screen.scss */
.layer-9 {
  -webkit-transform: translateZ(-6px);
  -moz-transform: translateZ(-6px);
  -ms-transform: translateZ(-6px);
  -o-transform: translateZ(-6px);
  transform: translateZ(-6px);
}

/* line 78, ../scss/screen.scss */
.layer-10 {
  -webkit-transform: translateZ(-5px);
  -moz-transform: translateZ(-5px);
  -ms-transform: translateZ(-5px);
  -o-transform: translateZ(-5px);
  transform: translateZ(-5px);
}

/* line 78, ../scss/screen.scss */
.layer-11 {
  -webkit-transform: translateZ(-4px);
  -moz-transform: translateZ(-4px);
  -ms-transform: translateZ(-4px);
  -o-transform: translateZ(-4px);
  transform: translateZ(-4px);
}

/* line 78, ../scss/screen.scss */
.layer-12 {
  -webkit-transform: translateZ(-3px);
  -moz-transform: translateZ(-3px);
  -ms-transform: translateZ(-3px);
  -o-transform: translateZ(-3px);
  transform: translateZ(-3px);
}

/* line 78, ../scss/screen.scss */
.layer-13 {
  -webkit-transform: translateZ(-2px);
  -moz-transform: translateZ(-2px);
  -ms-transform: translateZ(-2px);
  -o-transform: translateZ(-2px);
  transform: translateZ(-2px);
}

/* line 78, ../scss/screen.scss */
.layer-14 {
  -webkit-transform: translateZ(-1px);
  -moz-transform: translateZ(-1px);
  -ms-transform: translateZ(-1px);
  -o-transform: translateZ(-1px);
  transform: translateZ(-1px);
}

/* line 78, ../scss/screen.scss */
.layer-15 {
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  -ms-transform: translateZ(0px);
  -o-transform: translateZ(0px);
  transform: translateZ(0px);
}

/* line 78, ../scss/screen.scss */
.layer-16 {
  -webkit-transform: translateZ(1px);
  -moz-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  transform: translateZ(1px);
}

/* line 78, ../scss/screen.scss */
.layer-17 {
  -webkit-transform: translateZ(2px);
  -moz-transform: translateZ(2px);
  -ms-transform: translateZ(2px);
  -o-transform: translateZ(2px);
  transform: translateZ(2px);
}

/* line 78, ../scss/screen.scss */
.layer-18 {
  -webkit-transform: translateZ(3px);
  -moz-transform: translateZ(3px);
  -ms-transform: translateZ(3px);
  -o-transform: translateZ(3px);
  transform: translateZ(3px);
}

/* line 78, ../scss/screen.scss */
.layer-19 {
  -webkit-transform: translateZ(4px);
  -moz-transform: translateZ(4px);
  -ms-transform: translateZ(4px);
  -o-transform: translateZ(4px);
  transform: translateZ(4px);
}

/* line 78, ../scss/screen.scss */
.layer-20 {
  -webkit-transform: translateZ(5px);
  -moz-transform: translateZ(5px);
  -ms-transform: translateZ(5px);
  -o-transform: translateZ(5px);
  transform: translateZ(5px);
}

/* line 78, ../scss/screen.scss */
.layer-21 {
  -webkit-transform: translateZ(6px);
  -moz-transform: translateZ(6px);
  -ms-transform: translateZ(6px);
  -o-transform: translateZ(6px);
  transform: translateZ(6px);
}

/* line 78, ../scss/screen.scss */
.layer-22 {
  -webkit-transform: translateZ(7px);
  -moz-transform: translateZ(7px);
  -ms-transform: translateZ(7px);
  -o-transform: translateZ(7px);
  transform: translateZ(7px);
}

/* line 78, ../scss/screen.scss */
.layer-23 {
  -webkit-transform: translateZ(8px);
  -moz-transform: translateZ(8px);
  -ms-transform: translateZ(8px);
  -o-transform: translateZ(8px);
  transform: translateZ(8px);
}

/* line 78, ../scss/screen.scss */
.layer-24 {
  -webkit-transform: translateZ(9px);
  -moz-transform: translateZ(9px);
  -ms-transform: translateZ(9px);
  -o-transform: translateZ(9px);
  transform: translateZ(9px);
}

/* line 78, ../scss/screen.scss */
.layer-25 {
  -webkit-transform: translateZ(10px);
  -moz-transform: translateZ(10px);
  -ms-transform: translateZ(10px);
  -o-transform: translateZ(10px);
  transform: translateZ(10px);
}

/* line 78, ../scss/screen.scss */
.layer-26 {
  -webkit-transform: translateZ(11px);
  -moz-transform: translateZ(11px);
  -ms-transform: translateZ(11px);
  -o-transform: translateZ(11px);
  transform: translateZ(11px);
}

/* line 78, ../scss/screen.scss */
.layer-27 {
  -webkit-transform: translateZ(12px);
  -moz-transform: translateZ(12px);
  -ms-transform: translateZ(12px);
  -o-transform: translateZ(12px);
  transform: translateZ(12px);
}

/* line 78, ../scss/screen.scss */
.layer-28 {
  -webkit-transform: translateZ(13px);
  -moz-transform: translateZ(13px);
  -ms-transform: translateZ(13px);
  -o-transform: translateZ(13px);
  transform: translateZ(13px);
}

/* line 78, ../scss/screen.scss */
.layer-29 {
  -webkit-transform: translateZ(14px);
  -moz-transform: translateZ(14px);
  -ms-transform: translateZ(14px);
  -o-transform: translateZ(14px);
  transform: translateZ(14px);
}

/* line 78, ../scss/screen.scss */
.layer-30 {
  -webkit-transform: translateZ(15px);
  -moz-transform: translateZ(15px);
  -ms-transform: translateZ(15px);
  -o-transform: translateZ(15px);
  transform: translateZ(15px);
}

/* line 82, ../scss/screen.scss */
.layer-1, .layer-29 {
  width: 247px;
  height: 527px;
  top: 1.5px;
  left: 1.5px;
  background: linear-gradient(#030708 0%, #adb6c5 1%, #050a0e 4%, #050a0e 96%, #adb6c5 99%, #030708 100%);
}

/* line 82, ../scss/screen.scss */
.layer-2, .layer-28 {
  width: 248px;
  height: 528px;
  top: 1px;
  left: 1px;
  background: linear-gradient(#030708 0%, #adb6c5 1%, #050a0e 4%, #050a0e 96%, #adb6c5 99%, #030708 100%);
}

/* line 82, ../scss/screen.scss */
.layer-3, .layer-27 {
  width: 249px;
  height: 529px;
  top: 0.5px;
  left: 0.5px;
  background: linear-gradient(#030708 0%, #adb6c5 1%, #050a0e 4%, #050a0e 96%, #adb6c5 99%, #030708 100%);
}

/* line 82, ../scss/screen.scss */
.layer-4, .layer-26 {
  width: 250px;
  height: 530px;
  top: 0px;
  left: 0px;
  background: linear-gradient(#030708 0%, #adb6c5 1%, #050a0e 4%, #050a0e 96%, #adb6c5 99%, #030708 100%);
}

/* line 92, ../scss/screen.scss */
.layer-30 {
  width: 247px;
  height: 527px;
  top: 1.5px;
  left: 1.5px;
}

/* line 98, ../scss/screen.scss */
.layer-1, .layer-30 {
  background: #000002;
}

/*-----INNER-PLANES-----*/
/* line 102, ../scss/screen.scss */
.inner-plane-1, .inner-plane-2 {
  display: none;
  width: 29px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  background: linear-gradient(#030708 0%, #6f7b87 2%, #313842 10%, #535d69 20%, #38414a 50%, #262a33 90%, #6f7b87 98%, #030708 100%);
}

/* line 116, ../scss/screen.scss */
.inner-plane-2 {
  left: auto;
  right: 10px;
}

/*-----OTHER-PARTS-----*/
/* line 123, ../scss/screen.scss */
.screen {
  width: 220px;
  height: 380px;
  background: gray;
  position: absolute;
  top: 72px;
  left: 14px;
}

/* line 131, ../scss/screen.scss */
.button {
  width: 46px;
  height: 46px;
  position: absolute;
  bottom: 15px;
  left: 102px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: linear-gradient(#000002 0%, #000002 50%, #282c31 50%, #686d74 100%);
  -webkit-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.4);
}
/* line 141, ../scss/screen.scss */
.button:after {
  content: "";
  width: 12px;
  height: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px;
}

/* line 153, ../scss/screen.scss */
.front-cam {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: gray;
  position: absolute;
  top: 20px;
  left: 50%;
  margin: 0 -5px;
}

/* line 163, ../scss/screen.scss */
.speaker {
  width: 60px;
  height: 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: gray;
  position: absolute;
  top: 42px;
  left: 50%;
  margin: 0 -30px;
}

/* line 174, ../scss/screen.scss */
.back-cam {
  width: 26px;
  height: 26px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: gray;
  position: absolute;
  top: 16px;
  right: 24px;
}

/* line 184, ../scss/screen.scss */
.back-flash {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background: gray;
  position: absolute;
  top: 22px;
  right: 60px;
}

/* line 195, ../scss/screen.scss */
.back-cover {
  width: 100%;
  height: 426px;
  position: absolute;
  left: 0;
  top: 50px;
  background: #46505a;
}

/*-----ANIMATIONS-----*/
@keyframes rotate3d {
  /* line 206, ../scss/screen.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 207, ../scss/screen.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotate3d {
  /* line 206, ../scss/screen.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 207, ../scss/screen.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-moz-keyframes rotate3d {
  /* line 206, ../scss/screen.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 207, ../scss/screen.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-ms-keyframes rotate3d {
  /* line 206, ../scss/screen.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 207, ../scss/screen.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-o-keyframes rotate3d {
  /* line 206, ../scss/screen.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 207, ../scss/screen.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
